*{
    background-color: white;
}

h1{
    font-size: 12px;
    text-align: center;
    color: #000000;
    padding: 8px;
}

hr{
    border: none;
    border-top: 2px solid #000000;
    width: auto;
}

a{
    color: black;
    font-size: 9px;

}
h2{
    font-size: 9px;
}
.temas-referencia{
    font-size: 9px;
    
}